@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .prose {
    @apply max-w-none;
  }
  
  .prose p {
    @apply mb-4 leading-relaxed;
  }
  
  .prose h3 {
    @apply text-lg font-semibold mb-3 text-gray-900;
  }
}